@tailwind base;
@tailwind components;
@tailwind utilities;
/* Couleurs personnalisées */
.bg-indigo-600 {
    background-color: #4f46e5;
}
.hover\:bg-indigo-700:hover {
    background-color: #4338ca;
}
.text-indigo-600 {
    color: #4f46e5;
}
.nav-link.font-medium {
    font-weight: 500; /* Semi-bold */
}

/* For active state (if you're using :active) */
.nav-link:active {
    font-weight: 500;
}

/* Or if you're using a specific active class */
.nav-link.active {
    font-weight: 500;
}